/*
|--------------------------------------------------------------------------
| #MODELS PAGE STYLES
|--------------------------------------------------------------------------
*/

.models {

    // #HERO
    // =========================================================================

    .hero {
        background:$secondary url('../img/models-hero.jpg') no-repeat;
        background-size:cover;
        height:70vh;
        background-position:50% 100%;

        &__container {
            flex-direction:column;
            align-items:left;
            justify-content:flex-end;
            height:100%;
            padding-bottom:5rem;
            color:#ffffff;

            @media screen and (max-width:48em) {
                display:flex;
            }

            @media screen and (max-width:32em) {
                padding-bottom:2rem;
            }

            h1 {
                color:#ffffff;
                font-size:4.5rem;
                text-transform:uppercase;
                margin-bottom:0;

                @media screen and (max-width:90em) {
                    font-size:3.5rem;
                }

                @media screen and (max-width:64em) {
                    font-size:3rem;
                }

                @media screen and (max-width:48em) {
                    font-size:2.5rem;
                }

                @media screen and (max-width:32em) {
                    font-size:1.75rem;
                }

                &:first-of-type {
                    margin-bottom:-1rem;

                    @media screen and (max-width:32em) {
                        margin-bottom:-.5rem;
                    }
                }

                span {
                    font-weight:900;
                    font-size:5.5rem;

                    @media screen and (max-width:90em) {
                        font-size:4.5rem;
                    }

                    @media screen and (max-width:64em) {
                        font-size:4rem;
                    }

                    @media screen and (max-width:48em) {
                        font-size:2.9rem;
                    }

                    @media screen and (max-width:32em) {
                        font-size:1.75rem;
                    }
                }
            }
        }
    }




    // #MAIN MODELS CONTENT
    // =========================================================================

    .main-content {

        &__container {
            flex-direction:column;

            .models-container {
                
                // Single model
                .model {
                    position:relative;
                    margin-top:4rem;
                    padding-bottom:2rem;

                    @media screen and (max-width:32em) {
                        margin-top:1rem;
                    }

                    &:last-of-type {
                        padding-bottom:0;
                    }

                    span {
                        color:#ffffff;
                        background-color:#cc3333;
                        position:absolute;
                        z-index:-1;
                        font-weight:600;
                    }
                    
                    // Odd numbered models
                    &:nth-child(odd) {

                        span {
                            left:-2rem;
                            top:-2.25rem;
                            padding:.5rem .75rem 14rem 8rem;

                            @media screen and (max-width:32em) {
                                padding:.5rem .75rem 4rem 4rem;
                                left:-1rem;
                            }
                        }
                    }
                    
                    // Even numbered models
                    &:nth-child(even) {

                        span {
                            right:-.5rem;
                            top:-2.25rem;
                            padding:.5rem 8rem 14rem .75rem;

                            @media screen and (max-width:32em) {
                                padding:.5rem 4rem 4rem .75rem;
                            }
                        }

                        @media screen and (max-width:48em) {
                            .model-details {
                                display:flex;
                                flex-direction:column-reverse;
                            }
                        }
                    }
                    
                    // Top model image
                    .cover-img {
                        box-shadow:4px 4px 6px rgba(#333333, .4);
                        width:calc(100% - .5rem);
                        max-height:495px;
                        overflow:hidden;

                        img {
                            width:100%;
                            height:100%;
                            max-height:495px;
                            object-fit:cover;
                            object-position:center center;
                        }
                    }

                    &-details {
                        padding-top:1rem;
                        
                        // Info about model
                        .content {

                            h4 {
                                font-weight:600;
                                font-size:2rem;
                            }

                            .stats {
                                padding:1rem 0;

                                .column-6 {
                                    display:flex;
                                    align-items:center;
                                    margin-bottom:1rem;

                                    img {
                                        margin-right:.5rem;
                                    }

                                    p {
                                        margin-bottom:0;
                                    }
                                }
                            }
                            
                            // Model floorplan
                            .floorplan {
                                position:relative;
                                box-shadow:1px 1px 10px rgba(#333333, .4);
                                overflow:hidden;

                                @media screen and (max-width:48em) {
                                    margin-bottom:2rem;
                                }

                                a {
                                    position:absolute;
                                    left:0;
                                    bottom:0;
                                }

                                img {
                                    object-fit:cover;
                                    width:100%;
                                    height:100%;
                                }
                            }
                        }
                        
                        // Model images
                        .images {
                            display:flex;
                            flex-direction:column;
                            justify-content:space-between;
                            align-items:center;

                            .image-wrapper {
                                margin-bottom:.5rem;
                                max-height:260px;
                                overflow:hidden;

                                @media screen and (max-width:48em) {
                                    margin-bottom:1rem;
                                }

                                img {
                                    object-fit:cover;
                                    width:100%;
                                    height:100%;
                                    max-height:260px;
                                    object-position:center center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }




    // #CTA
    // =========================================================================

    .cta {

        &__container {
            background:url('../img/models-cta-bg.jpg') no-repeat;

            @media screen and (max-width:48em) {
                background-position-x:40%;
            }
        }
    }

}