{% extends 'layouts/app.twig' %}
{% block pageclass %}faqs{% endblock %}
{% block title %}FAQs{% endblock %}
{% block description %}{% endblock %}

{% block content %}

{# Hero Section #}

<section class="hero">
    <div class="hero__container container">
        <h1>Frequently Asked</h1>
        <h1><span>Questions</span></h1>
    </div>
</section>

{# End Hero Section #}

{# Main Content Section #}

<section class="main">
    <div class="main__container container">
        <h2>Can I buy direct from your factory?</h2>
        <p>We predominately sell to campgrounds and resorts however we do sell to individual customers. If you are planning to buy one of our homes for a piece of private land, we strongly suggest you check your zoning to ensure you can do so before proceeding.</p>

        <h2>What kind of units do you build?</h2>
        <p>Our core business is building Park model RVs for the leisure industry. However, if you have an idea run it past us we would be happy to be a part of any innovation.</p>

        <h2>What makes you different from other manufacturers?</h2>
        <p>We are a boutique builder that prides itself in the attention to detail we put into every model. Before we started production, we did extensive research amongst campground owners and Park model owners. One of the biggest complaints was roof leaks in the homes and so we decided to use metal roofs as standard from day one. Another complaint was the use of no name bathroom hardware that was impossible to get replacement parts for. We will only use household name brands that have accessibility to parts from any high street hardware store.</p>

        <h2>How long does a home take to build?</h2>

        <p>On average a home takes 6-8 weeks to build from the point of order. This can be influenced by several factors including:</p>
        <ul>
            <li>Availability of chosen fixtures and fittings</li>
            <li>Complexity of build</li>
            <li>Size of home to be built</li>
            <li>Availability of any specialist trades</li>
        </ul>

        <h2>Where are you located?</h2>
        <p>We are in Belle River, Ontario just East of Windsor. We are just off the 401 which makes transport of the park models quick and easy.</p>

        <h2>Do you build anything else?</h2>
        <p>Although our core business is Park models we can build anything to suit your business. some of the other types of uses are:</p>
        <ul>
            <li>Offices.</li>
            <li>Washrooms/laundry buildings.</li>
            <li>Games rooms.</li>
            <li>Back yard buildings.</li>
        </ul>
    </div>
</section>

{# End Main Content Section #}

{% endblock %}
